
# Ignore virtual environment folders
.venv/
venv/
env/

# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environment & config files
.env
*.env
*.ini
*.cfg

# IDE / editor settings
.vscode/
.idea/

# MacOS metadata files
.DS_Store




